<mat-drawer-container class="h-[calc(100vh-64px)]" autosize>
  <mat-drawer #drawer class="rounded-[0px]!" mode="side" [opened]="isSidenavOpen()">
    <div class="h-full w-full flex flex-col justify-between">
      <mat-action-list>
        <mat-divider></mat-divider>

        <!-- profile -->
        <button
          mat-list-item
          [routerLink]="['/', appRoutes.profile.route]"
          routerLinkActive="border-l-6! border-(--primary)!"
          [routerLinkActiveOptions]="{ exact: true }"
          onclick="blur()"
        >
          <span class="material-icons-outlined" matListItemIcon>{{ appRoutes.profile.icon }}</span>
          <span matListItemTitle>{{ appRoutes.profile.name }}</span>
        </button>

        <mat-divider></mat-divider>

        <!-- search students -->
        <button
          mat-list-item
          [routerLink]="['/', appRoutes.searchstudents.route]"
          routerLinkActive="border-l-6! border-(--primary)!"
          [routerLinkActiveOptions]="{ exact: true }"
          onclick="blur()"
        >
          <span class="material-icons-outlined" matListItemIcon>
            {{ appRoutes.searchstudents.icon }}
          </span>
          <span matListItemTitle>{{ appRoutes.searchstudents.name }}</span>
        </button>

        <mat-divider></mat-divider>

        <!-- regiseration -->
        <button
          mat-list-item
          [routerLink]="['/', appRoutes.registration.route]"
          routerLinkActive="border-l-6! border-(--primary)!"
          [routerLinkActiveOptions]="{ exact: true }"
          onclick="blur()"
        >
          <span class="material-icons-outlined" matListItemIcon>
            {{ appRoutes.registration.icon }}
          </span>
          <span matListItemTitle>{{ appRoutes.registration.name }}</span>
        </button>

        <mat-divider></mat-divider>
      </mat-action-list>

      <!-- logo -->
      <div class="grid place-content-center py-4">
        <app-brand-logo />
      </div>
    </div>
  </mat-drawer>

  <div class="h-full px-18 py-6">
    <router-outlet></router-outlet>
  </div>
</mat-drawer-container>
